.addNewNote {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin: 24px 0;
  padding: 20px 16px;

  box-shadow: 0px 0px 16px 0px #00000014;
  border-style: solid;
  border-color: #eeeff0;
  background: #ffffff;

  .upperbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cancel {
      color: #0f75b8;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}
